<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jaxon.sale.dao.PaymentDao">
  <insert id="save" parameterType="com.jaxon.sale.entity.Order">
       insert into t_order(`order_no`,user_id,create_time) values (#{orderNo},#{userId},#{createTime})
  </insert>
</mapper>
